<div class="container">
    <h1>All Publications</h1>

    <div class="filters">
        <form [formGroup]="filterForm">
            <div class="group">
                <span>Word to Search?</span>
                <div class="input">
                    <input type="text" formControlName="search" (change)="search($event)">
                </div>
            </div>

            <div class="group">
                <span>Date Select</span>
                <div class="input">
                    <input type="date" formControlName="date" (change)="filterDate($event)">
                </div>
            </div>
        </form>
    </div>

    <div class="posts" *ngIf="posts">
        <span class="count">Showing {{show}} / {{total}} Post</span>

        <div class="cards">
            <div class="card" *ngFor="let post of posts">
                <div class="card-header">
                    {{post['title']}}
                </div>
                <div class="card-body">
                    {{post['description']}}
                </div>
                <div class="card-footer">
                    <span>{{post['date_created'] | date}}</span>
                    <span>{{post['name']}}</span>
                </div>
            </div>
        </div>

        <div class="pagination" *ngIf="posts">
            <span class="firstPage" (click)="pagination(firstPage)">
                <fa-icon [icon]="faanglesleft"></fa-icon>
            </span>
            <span class="before" (click)="pagination(before)">
                <fa-icon [icon]="faangleleft"></fa-icon>
            </span>
            <span class="active" (click)="pagination(actualPage)">{{actualPage}}</span>
            <span (click)="pagination(second)" *ngIf="actualPage != second">{{second}}</span>
            <span (click)="pagination(third)" *ngIf="actualPage != third">{{third}}</span>
            <span class="next" (click)="pagination(next)">
                <fa-icon [icon]="faangleright"></fa-icon>
            </span>
            <span class="lastPage" (click)="pagination(lastPage)">
                <fa-icon [icon]="faanglesright"></fa-icon>
            </span>
        </div>
    </div>

    <div class="posts-empty" *ngIf="!posts">
        <img src="/assets/img/smiley.png" alt="">
        <h2>Nothing to see here</h2>
    </div>
</div>