<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/home">
                <div class="logo"></div>
                <div class="title">
                    Easy Media
                </div>
            </a>
        </div>
        <nav>
            <div class="nav-mobile">
                <div id="nav-toggle">
                    <fa-icon *ngIf="!openMenuBool" (click)="openMenu(true)" [icon]="fabars"></fa-icon>
                    <fa-icon *ngIf="openMenuBool" (click)="openMenu(false)" [icon]="fax"></fa-icon>
                </div>

                <div class="dropdown" *ngIf="openMenuBool">
                    <div class="dropdown-header">
                        Camilo Cifuentes
                    </div>
                    <ul class="nav-list">
                        <li>
                            <a href="/home">
                                <fa-icon [icon]="fapentosquare"></fa-icon>
                                Posts
                            </a>
                        </li>
                        <li>
                            <a href="/home/my-posts">
                                <fa-icon [icon]="falocationarrow"></fa-icon>
                                My posts
                            </a>
                        </li>
                        <li>
                            <a href="/home/create-post">
                                <fa-icon [icon]="famessage"></fa-icon>
                                Create post
                            </a>
                        </li>
                        <li>
                            <a href="/home/log-out">
                                <fa-icon [icon]="farightfrombracket"></fa-icon>
                                Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="nav-list">
                <li><a href="#!">Posts</a></li>
                <li><a href="#!">My posts</a></li>
                <li><a href="#!">Create post</a></li>
                <li><a href="#!">Log out</a></li>
            </ul>
        </nav>
    </div>
</section>