/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

@font-face {
    font-family: lato;
    src: url('/assets/fonts/lato/Lato-Regular.ttf');
}

* {
    font-family: "lato", sans-serif;
}

.no-border {
    border: 0 !important;
}

.text-swal {
    font-family: "lato", sans-serif;
    font-size: 4vh;
    color: #474747;
}

.swal-confirm-button {
    background: linear-gradient(270deg, #C645A9 17.66%, #58BBDB 89.57%) !important;
    border-radius: 20px !important;
}