<div class="container">
    <h1>Create message</h1>

    <div class="filters">
        <form [formGroup]="postForm" (ngSubmit)="createPost()">
            <div class="group">
                <span>Title messages</span>
                <div class="input">
                    <input type="text" formControlName="title" (change)="titleSet($event)" placeholder="Your post title">
                </div>
                <span *ngIf="postForm.controls['title'].errors && postForm.controls['title'].errors['required']" class="error">Please provide a title</span>
            </div>

            <div class="group">
                <span>Title messages</span>
                <div class="input">
                    <textarea formControlName="message" (change)="msgSet($event)" placeholder="Create message for share with your friends" maxlength="100" cols="30" rows="10"></textarea>
                </div>
                <span *ngIf="postForm.controls['message'].errors && postForm.controls['message'].errors['required']" class="error">Please provide a message</span>
                <span class="maxlength">100 / 100</span>
            </div>

            <div class="group">
                <button type="submit">
                    share
                </button>
            </div>
        </form>
    </div>

    <div class="posts" >
        <div class="cards" >
            <div class="card">
                <div class="card-header">
                    {{title}}
                </div>
                <div class="card-body">
                    {{description}}
                </div>
                <div class="card-footer">
                    <span>{{now | date}}</span>
                    <span>{{name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>